<div class="splash_cont">
    <h1 class="splash_title">SmartBudget</h1>
    
    <div class="log_in">
        <%= link_to "LOG IN", new_user_session_path, class: "btn_log_in"%>
        <%= link_to "SIGN UP", new_user_registration_path, class: "btn_sign_up" %>
    </div>
</div>