<div id="<%= dom_id account_record %>">
  <p>
    <strong>Name:</strong>
    <%= account_record.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= account_record.amount %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= account_record.author_id %>
  </p>

</div>
