<p style="color: green"><%= notice %></p>

<h1>Account records</h1>

<div id="account_records">
  <% @account_records.each do |account_record| %>
    <%= render account_record %>
    <p>
      <%= link_to "Show this account record", account_record %>
    </p>
  <% end %>
</div>

<%= link_to "New account record", new_account_record_path %>
