<div id="<%= dom_id operation %>" class="operation">
  <p class="group-info"><%= operation.name %> </br> </br> 
  <span class="group-date"><%= operation.created_at.strftime("%d %b %Y") %></span>
  </p>
  <p class="group-info">$<%= operation.amount %></p>
</div>
